<!-- public header - reusable for handlebars-->
<header class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="./index.html">Tech Blog</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="./index.html"
          >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./login.html">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./signUp.html">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- sign up form -->
<div class="card m-4 d-flex justify-content-around flex-wrap">
  <h4 class="card-header text-center">Sign Up</h4>
  <form class="m-2 card-body was-validated" id="signupForm">
    <div class="mb-3 border">
      <input
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="First Name"
      />
    </div>
    <div class="mb-3 border">
      <input
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Last Name"
      />
    </div>
    <div class="mb-3 border">
      <input
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Email address"
      />
    </div>
    <div class="mb-3 border">
      <input
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Perfered Username"
      />
    </div>
    <div class="mb-3 border">
      <input
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Enter your password"
      />
    </div>
    <div class="mb-0">
      <input
        type="password"
        class="form-control"
        placeholder="Confirm your password"
      />
    </div>
  </form>
  <div class="text-center text-danger">
    Failed to Sign Up. Please try again.
  </div>
  <div class="m-3 text-center">
    <button type="submit" class="btn btn-primary center">Sign Up</button>
  </div>
  <div class="text-center mb-3">
    Already have an account?
    <a href="./login.html">Login </a>now!
  </div>
</div>